/**
Theme Name: Buyer 2
Author: REI Grow
Author URI:
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: rei-grow-buyer-2
Template: astra
*/
.rei-add-form-content {
 margin: 40px 0 40px 0;
}
.rei-add-form-content {
 margin-bottom: 40px;
}
.rei-add-form-title {
    margin-top: 40px;
}
.reim-reviews-subtitle {
    font-style: italic;
    font-weight: 100 !important;
}
.nav-link {
    font-size: 14px;
}
ul#menu-main-menu {
    margin: 0 .5em 0 .5em;
}
.reim_header_phone_number {
    font-size: 18px;
}
.rei-header-module-bbb {
    display: inline-block;
    margin: 0;
}
.rei-header-container {
    min-width: 260px;
}
.rei-main-container-contact {
    width: 800px !important;
    padding: 75px 0;
}
.rei-gravity2-legal {
    text-align: center;
}
.reim_magnet_arrow {
    margin-top: 50px !important;
}
.col-lg-8.m-auto.text-white {
    text-align: left;
}
.reim-hero-content {
    max-width: 1500px;
    text-align: left;
}
.reim-arrow-mobile {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 20px;
}
.reim-review-item {
    border-radius: 5px;
}
.reim-faq-question-container, .reim-faq-question-container-last {
    padding: 30px;
    margin-bottom: 30px;
    color: #fff;
    box-shadow: 2px 2px 4px 0 #ccc;
    border-radius: 5px;
}
.rei-main-content-home {
    max-width: 1500px;
    padding: 75px 0 75px 0;
}
.reim-faq-questions-outer-container {
    display: block;
}
.row.rei-hero-row {
max-width: 1500px;
margin-left: auto;
    margin-right: auto;
}
.rei-hero-title {
        color: #fff !important;
        font-size: 46px;
}
.rpp-profile-image {
    padding-top: 100px;
    padding-bottom: 100px;
}
.home .rpp-profile-image {
    padding-top: 75px;
    padding-bottom: 75px;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    background: transparent;
}
      button.navbar-toggler.collapsed {
    background: transparent;
}
.dropdown-menu {
   border: none !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.dropdown-item:hover {
    background: none !important;
}
#wpadminbar {
position: absolute;
}
.rei-logo-image {
    max-width: 250px;
    max-height: 85px;
}
.reim_faq_button {
    font-weight: bold;
    padding: 0 10px 0 10px;
}
a {
    text-decoration: none !important;
}
.acf-field-group>.acf-label {
    font-size: 20px;
}
.fab{
    vertical-align: middle;
}
a.rei-social-icon-text-style{
    vertical-align: middle;
    color: #fff !important;
}
.rei-social-icon-text {
    display: table-cell;
}
.rei-social-icon {
    display: table-cell;
}
.rei-social-icon-wrap {
    display: flex;
}
.rei-social-icon-text-style {
    margin-left: 10px;
}
.fab {
    font-size: 30px;
    color: #fff !important;
    text-decoration: none !important;
}
.rei-social-icons-container {
    line-height: 3.5em;

}
.rei-phone-number a {
    color: #fff !important;
}

.rei-footer-menu-container a {
    color: #fff !important;
}
.rei-footer-bar-menu {
    text-align: right;
}
.rei-footer-bottom-bar-container {
    background-color: #f1f1f1
}
ol.rei-footer-menu-container, ul.rei-footer-menu-container, .rei-footer-menu-container li>ol, .rei-footer-menu-container li>ul {
    margin: 0;
}
ul.rei-footer-menu-container, ul.rei-footer-menu-container .sub-menu {
    list-style-type: none;
    margin-left: none;
}
.rei-footer-menu-container .sub-menu {
    font-size: 9pt;
}
.rei-footer-menu-container .menu-item {
    line-height: 3em;
}
.rei-footer-business-info {
    font-size: 9pt;
}
.rei-main-container {
    max-width: 1500px;
    padding: 75px 0 75px 0;
}
.rei_lead_magnet_bg {
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 5px;
}
.reim_magnet_arrow {
    display: flex;
    position: relative;
    float: right;
    margin-top: 30px;
}
.reim-arrow {
    margin: -48px 10px;
}
.rei-reviews-container {
    background-color: #f1f1f1;
    border-radius: 5px;
}
.rei-faq-container {
    background-color: #4784aa;
    color: #fff
}
body {
    line-height: 1.7em !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
    font-family: Roboto, Helvetica, sans-serif !important;
    margin-bottom: 20px !important;
    color: #333
}
.navbar-light .navbar-nav .nav-link, a.dropdown-item {
        font-weight: 900 !important;
    font-family: Roboto, Helvetica, sans-serif !important;
}
    .rei-footer-section {
        background-color: #e2721f;
        color: #ffffff;
        margin-bottom: -1px;
    }
.rei-footer-container {
      max-width: 1200px;
    padding: 75px 0 75px 0;
    }
.rei-testimonials-main {
    background-color: #f1f1f1
}
@media only screen and (max-width: 1500px) {
    .row {
        margin: 0 !important;
    }
}
@media only screen and (max-width: 992px) {

.navbar-collapse {
    order: 3;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    order: 1;
}
}
@media only screen and (max-width: 768px) {
.reim_header_phone_number {
    display: none;
    }
    .rei-logo-image {
    max-width: 175px;
    max-height: 85px;

}
    .rei-header-container {
    min-width: 0;
}
}
@media only screen and (max-width: 400px) {
.rei-logo-image {
    max-width: 115px;
    max-height: 85px;
}
    .rei_bbb_logo {
        max-width: 50px;
    }
}