/**
Theme Name: Investor 1
Author: REI Grow
Author URI: http://wpastra.com/about/
Description:
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: rei-grow-investor-1
Template: astra
*/

/* Projects */
.rei-column-content-last {
    border-right: none;
    vertical-align: middle;
        padding: 5px;
    display: table-cell; /* Make elements inside the container behave like table cells */
        width: 33.333%
}
.rei-column-content {
    border-right: solid 1px #ddd;
        vertical-align: middle;
                padding: 5px;
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 33.333%
}
.rei-project-column-container {
    margin-top: 10px;
        font-size: 9pt;
    text-align: center;
        line-height: 1.2em;
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}
.rei-project-title {
        font-weight: bold;
    font-size: 13pt;
}
.rei-project-subtitle {
    font-size: 10pt;
    color: #aaa
}
.rei-project-title-container {
    text-align: center;
}
.rei-project-content-box {
    padding: 1em;
    line-height: 1.2em;
}
.rei-project-item {
    display: inline-block;
    background: #fff;
    padding: 0;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.rei-project-item    {
display: inline-block;
vertical-align: top;
margin: 0;
background-color: #fff;
width: 100%;
}
.rei-project-box {
display: grid;
  grid-gap: 2em;
	grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
  grid-auto-rows: auto;
}
.rei-project-image {
    height: 200px;
        background-size: cover;
    background-repeat: no-repeat;
}
.rei-projects-container {
    text-align: center;
}
.rei-projects-content-divider {
    width: 100px
}
.rei-projects-content {
        margin-bottom: 40px;
}
/* End Projects */


/* Footer */
.rei-legal-text {
    font-size: 11px;
    line-height: 1.5em;
}




.rei-hero-slideshow-container {
    overflow: hidden;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    font-weight: 600;
}
input.button {
    border-radius: 5px;

}
.col.quicklink-container {
    max-width: 33.333% !important;
    margin: auto;
}
.rei-hero-slideshow-container {
      width: 100%;
      height: 400px;
      position: relative;
    }

    .rei-hero-slideshow-container .other-content {
      position: absolute;
      bottom: 25%;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 2;
      padding: 30px;
      color: white;
    }

    .rei-hero-slideshow-container .slide {
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      transition: opacity 1s ease-in-out;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
    }

    .rei-hero-slideshow-container .slide.show {
      opacity: 1;
    }
.image-container {
    position: relative;
}
.image-container .after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
  left: 0%;
    display: none;
    color: #FFF;
}
.image-container .after {
    display: block;
    background: rgba(0, 0, 0, .2);
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .4);
    transition: 0.4s;
}
.container-blocks {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
    border-radius: 5px !important;
}
button.rei-investor-button {
    font-weight: 700;
    background: rgb(226,114,31);
background: linear-gradient(90deg, rgba(226,114,31,1) 0%, rgba(226,75,31,1) 100%, rgba(0,212,255,1) 100%);
    padding: 7px 15px 7px 15px;
    font-size: 14px;
}
i.fas.fa-phone, .fa-tty {
    color: #fff !important;
    font-size: 16px !important;
}
.rei-add-form-title {
    margin-top: 40px;
}
.nav-link {
    font-size: 14px;
}
ul#menu-main-menu {
    margin: 0 .5em 0 .5em;
}
.rei-header-module-bbb {
    display: inline-block;
    margin: 0;
}
.rei-header-container {
    min-width: 260px;
    text-align: right;
}
.rei-main-container-contact {
    width: 800px !important;
    padding: 75px 0;
}
.home .reim-hero-content {
    padding: 200px 0 200px 0;
}
.reim-hero-content {
    padding: 100px 0 100px 0;
    text-align: center;
    color: #fff;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    background: transparent;
}
      button.navbar-toggler.collapsed {
    background: transparent;
}
.dropdown-menu {
   border: none !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.dropdown-item:hover {
    background: none !important;
}
#wpadminbar {
position: absolute;
}
.rei-logo-image {
    max-width: 250px;
    max-height: 85px;
}
.reim_faq_button {
    font-weight: bold;
    padding: 0 10px 0 10px;
}
a {
    text-decoration: none !important;
}
.fab{
    vertical-align: middle;
}
a.rei-social-icon-text-style{
    vertical-align: middle;
    color: #fff !important;
}
.rei-social-icon-text {
    display: table-cell;
}
.rei-social-icon {
    display: table-cell;
}
.rei-social-icon-wrap {
    display: flex;
}
.rei-social-icon-text-style {
    margin-left: 10px;
}
.fab {
    font-size: 30px;
    color: #fff !important;
    text-decoration: none !important;
}
.rei-social-icons-container {
    line-height: 3.5em;

}
.rei-phone-number a {
    color: #fff !important;
}

.rei-footer-menu-container a {
    color: #fff !important;
}
.rei-footer-bar-menu {
    text-align: right;
}
.rei-footer-bottom-bar-container {
    background-color: #f1f1f1
}
ol.rei-footer-menu-container, ul.rei-footer-menu-container, .rei-footer-menu-container li>ol, .rei-footer-menu-container li>ul {
    margin: 0;
}
ul.rei-footer-menu-container, ul.rei-footer-menu-container .sub-menu {
    list-style-type: none;
    margin-left: none;
}
.rei-footer-menu-container .sub-menu {
    font-size: 9pt;
}
.rei-footer-menu-container .menu-item {
    line-height: 3em;
}
.rei-footer-business-info {
    font-size: 9pt;
}
.rei-main-container {
    max-width: 1140px;
    padding: 75px 0 75px 0;
}
.rei_lead_magnet_bg {
    background-color: #f1f1f1;
}
.reim_magnet_arrow {
    display: flex;
    position: relative;
    float: right;
    margin-top: 30px;
}
.reim-arrow {
    margin: -40px 10px;
}
.rei-reviews-container {
    background-color: #f1f1f1;
}
.rei-faq-container {
    color: #333333
}
body {
    line-height: 2em !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
    font-family: Lato, Helvetica, sans-serif !important;
    margin-bottom: 20px !important;
}
.page-id-215 .rei_lead_magnet_bg {
    background-color: #ffffff;
}
    .rei-footer-section {
        color: #ffffff;
        margin-bottom: -1px;
    }
.rei-footer-container {
      max-width: 1200px;
    padding: 75px 0 75px 0;
    }
.rei-testimonials-main {
    background-color: #f1f1f1
}
@media only screen and (max-width: 992px) {

.navbar-collapse {
    order: 3;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    order: 1;
}
}
@media only screen and (max-width: 768px) {
    .rei-logo-image {
    max-width: 175px;
    max-height: 85px;
}
    .rei-header-container {
    min-width: 0;
}    
}
@media only screen and (max-width: 400px) {
.rei-logo-image {
    max-width: 115px;
    max-height: 85px;
}
    .rei_bbb_logo {
        max-width: 50px;
    }
}